body {
    background-color: black;
    color: white; 
    margin: 0px;
}

 header {
    border-bottom: solid 2px rosybrown (42, 122, 228);
    padding: 20px;
    font: 32px;
    color: antiquewhite (42, 122, 228);
 }